body {
    background: #3e3a3a;
}

.block {
    width: 150px;
    height: 150px;
    background: #181616;
    position: relative;
    top: 40%;
    left: 40%;
    border-radius: 20px;
}

.block_loading {
    background: #fff;
    width: 0%;
    height: 20px;
    position: absolute;
    top: -25%;
    left: -48%;
    border-radius: 7px;
}

.block_text {
    color: #181616;
    position: absolute;
    top: 45%;
    left: 35%;
}

.block:hover .block_text {
    color: #0e911b;
}

.block_text {
    transition: 1s 2s;
}

.block:hover .block_loading {
    width: 200%;
}

.block_loading {
    transition-duration: 2s;
    transition-timing-function: ease;
}