@import "fonts.css";
@import "reset.css";
@import "global.css";
@import "header.css";
@import "footer.css";



/* =============================================== */

.modal {
    position: fixed;
    inset: 0;
    background: #00000071;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: all .6s;
    padding: 15px;
}

.body--opened-modal .modal {
    opacity: 1;
    visibility: visible;
}

.modal__window {
    position: relative;
    background: var(--general-bg);
    border-radius: var(--border-radius);
    padding: 0 60px 60px;
    max-width: 428px;
}

.modal__cancel {
    position: absolute;
    top: 20px;
    right: 20px;
}

.modal__cancel:hover path,
.modal__cancel:hover rect {
    stroke: #AC907A;
}

.modal__cancel path {
    transition: var(--transition);
}

.modal__img {
    margin: -65px 0 15px 13px;
    max-width: 100%;
}

.modal__title {
    color: var(--accent-text);
    font-size: 42px;
    line-height: 0.9;
    margin-bottom: 10px;
}

.modal__text {
    margin-bottom: 30px;
}

.modal__form-label {
    margin-bottom: 10px;
}

.field {
    position: relative;
    display: block;
}

.field span {
    position: absolute;
    top: 12px;
    left: 28px;
    font-size: 11px;
    color: #AC907A;
    opacity: 0;
    visibility: hidden;
    transition: var(--transition);
}

.field__input {
    display: block;
    width: 100%;
    background: transparent;
    border: 1px solid var(--Инпуты, rgba(172, 144, 122, 1));
    border-radius: 100px;
    padding: 19px 41px 19px 28px;
    font-size: 16px;
    transition: var(--transition);
}

.field__input::placeholder {
    color: #AC907A;
    transition: var(--transition);
}

.field__input:hover {
    border-color: var(--accent-color);
}

.field__input:hover::placeholder {
    color: var(--accent-color);
}

.field__input:focus {
    padding: 26px 42px 12px 28px;
}

.field__input:focus+span {
    opacity: 1;
    visibility: visible;
}

/* ========================================================= */



/* ===================================================================== */


.about__inner {
    display: grid;
    grid-template-columns: 1fr 1.05fr;
    grid-template-rows: repeat(2, auto);
    gap: 40px 53px;
}

.about__img {
    border-radius: var(--border-radius);
    overflow: hidden;
    position: relative;
    grid-row: 1/-1;
}

.about__img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 50%;
}

.about__img-conrol {
    background: #957B97E6;
    border-radius: var(--border-radius);
    padding: 15px 20px;
    color: var(--general-bg);
    position: absolute;
    bottom: 4.7%;
    left: 5%;
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 300px;
    text-align: left;
}

.about__img-button {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 78px;
    height: 78px;
    border-radius: 50%;
    background: var(--general-bg);
    position: relative;
}

.about__img-button::before {
    content: '';
    position: absolute;
    inset: 5px;
    border-radius: 50%;
    border: 1px solid #CEAAD0;

    opacity: 0;
    transition: var(--transition);
}

.about__img-button:hover::before {
    opacity: 1;
}

.about__heading {
    margin-bottom: 30px;
}

.about__title {
    color: var(--accent-text);
    text-align: left;
}

.about__grid {
    display: grid;
    gap: 32px;
    grid-template-columns: 1fr 1.05fr;
}

.about__grid-item {
    background: var(--accent-bg);
    border-radius: var(--border-radius);
    padding: 29px 24px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.about__grid-img {
    border: 1px solid var(--general-text);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* =============================================== */


.program__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
    gap: 30px 15px;
}

.program__title {
    margin-bottom: 20px;
}

.program__tab-content {
    margin-bottom: 40px;
}

.tab-conrols {
    display: flex;
    gap: 26px;

}

.tab-conrols__link {
    border-radius: 100px;
    background: var(--general-bg);
    display: block;
    padding: 14px 30px;
    box-shadow: 0px 4px 20px 0px #cec3b94d;
    transition: var(--transition);
    white-space: nowrap;
}

.tab-conrols__link:hover {
    background: var(--accent-bg);
}

.tab-conrols__link--active {
    background: var(--accent-bg);
    box-shadow: 0px 4px 20px 0px #cec3b900;
}

.tab-content {
    display: none;
}

.tab-content--show {
    display: block;
}




.accordion-list__item {
    margin-bottom: 30px;
    border: 1px solid var(--accent-color);
    border-radius: var(--border-radius);
}

.accordion-list__item:last-child {
    margin-bottom: 0;
}

.accordion-list__control {
    padding: 41px 30px;
    width: 100%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    text-align: left;

    font-family: 'Gabriola';
    font-size: 42px;
    line-height: 0.9;
    color: var(--accent-text);
    transition: var(--transition)
}

.accordion-list__item--opened .accordion-list__control {
    padding-bottom: 20px;
}

.accordion-list__control-icon {
    border: 1.5px solid var(--accent-color);
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    transition: var(--transition);
}

.accordion-list__control:hover .accordion-list__control-icon {
    background: var(--accent-color);
    transform: rotate(90deg);
}

.accordion-list__item--opened .accordion-list__control-icon {
    background: var(--accent-color);
    transform: rotate(90deg);
}

.accordion-list__control:hover .accordion-list__control-icon path {
    fill: var(--general-bg);
}

.accordion-list__item--opened .accordion-list__control-icon path {
    fill: var(--general-bg);
}

.accordion-list__control-icon svg {
    margin-left: 2px;
}

.accordion-list__control-icon path {
    transition: var(--transition);
}

.accordion-list__content {
    max-height: 0;
    overflow: hidden;
    transition: var(--transition);
}


.accordion-content {
    padding: 0 30px 40px;
    display: flex;
    gap: 80px;
}

.accordion-content__col:first-child {
    max-width: 507px;
    width: 100%;
}

.accordion-content__col:last-child {
    max-width: 633px;
    width: 100%;
}

.accordion-content__title {
    color: #CEAAD0;
    line-height: 1.6;
    text-transform: uppercase;
}

.accordion-content__item {
    margin-bottom: 20px;
    display: flex;
}

.accordion-content__item:last-child {
    margin-bottom: 0;
}

.accordion-content__icon {
    width: 24px;
    height: 24px;
    border: 1px solid #ceaad0;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    flex-shrink: 0;
}

.accordion-content__text {
    max-width: 274px;
}

/* ============================= */

.program__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.program__img img {
    display: block;
    width: 100%;
}

.program__action {
    display: grid;
    grid-template: repeat(3, auto)/ 1.65fr 1fr;
    gap: 40px;
    max-width: 501px;
    flex-shrink: 0;
    width: 100%;
}

.program__discount {
    font-size: 20px;
    background: var(--accent-bg);
    border-radius: var(--border-radius);
    grid-row: 1/3;
    padding: 40px;
}

.program__discount-value {
    font-family: 'Gabriola';
    font-size: 74px;
    line-height: .82;
    color: var(--accent-color);
    margin: 0 0 7px 13%;

    transform-origin: 0 0;
    animation: discount-grow .8s linear infinite alternate;
}

@keyframes discount-grow {
    0% {
        transform: scale(1);
        color: var(--accent-color);
    }

    100% {
        transform: translateX(3%) scale(1.1);
        color: #FF9138;
    }
}

.program__discount span {
    display: block;
    font-size: 16px;
    margin-left: 35%;
}

.program__price-text {
    line-height: 1.6;
    text-transform: uppercase;
    color: #CEAAD0;
    margin-bottom: 5px;
}

.program__price-value {
    color: #312c27;
    font-family: Gabriola;
    font-size: 32px;
    line-height: .9;
}

.program__price-value--big {
    font-size: 50px;
    color: var(--accent-text);
}

.program__button {
    grid-column: 1/3;
}


/* =============================================== */


.gallery__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    margin-bottom: 40px;
}

.gallery__img img {
    max-width: 100%;
}

.gallery__img {
    justify-self: center;
    align-self: center;
}

.gallery__content {
    display: flex;
    gap: 30px 15px;
    align-items: end;
    justify-content: space-between;
}

.gallery__info {
    max-width: 380px;
}

.gallery__title {
    margin-bottom: 40px;
}

.gallery__nav {
    display: flex;
    gap: 98px;
    align-items: center;
    font-family: 'Gabriola';
    font-size: 42px;
    line-height: .9;
    position: relative;
}


.gallery__prev,
.gallery__next {
    background: transparent;
    cursor: pointer;
    border: 1.5px solid var(--accent-color);
    border-radius: 50%;
    flex-shrink: 0;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition);
}
.swiper-button-disabled.gallery__prev,
.swiper-button-disabled.gallery__next {
    border: 1.5px solid #e1d9e1;
    cursor: auto;
}
.swiper-button-disabled.gallery__prev path,
.swiper-button-disabled.gallery__next path {
    fill: #e1d9e1;
}
.swiper-button-disabled.gallery__prev:hover,
.swiper-button-disabled.gallery__next:hover  {
    background: transparent;
}
.swiper-button-disabled.gallery__prev:hover path,
.swiper-button-disabled.gallery__next:hover path {
    fill: #e1d9e1;
}


.gallery__prev:hover,
.gallery__next:hover {
    background: var(--accent-color);
}

.gallery__prev:hover path,
.gallery__next:hover path {
    fill: var(--general-bg);
}

.gallery__prev path,
.gallery__next path {
    transition: var(--transition);
}

.gallery__pagination {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    bottom: auto;
    width: auto;
    transform: translate(-50%, -50%);
}

.gallery__slide {
    border-radius: var(--border-radius);
    overflow: hidden;
}

.gallery__slide img {
    width: 100%;
}

/* ============================================================ */

@media (max-width: 1200px) {
    .hero__img {
        margin: 0;
        max-width: 377px;
    }

    .hero__img-conrol {
        position: static;
        max-width: none;
        margin-top: 30px;
    }

    /* =-==================================== */

    .footer__inner {
        justify-content: space-between;
        grid-template: repeat(2, auto) / repeat(3, auto);
    }

    .footer__col:last-child {
        grid-column: 1/-1;
        text-align: center;
    }

    /* ======================== */

    .program__top {
        flex-direction: column;
        align-items: stretch;
    }

    .tab-conrols {
        flex-wrap: wrap
    }
}

@media (max-width: 1100px) {
    .about__img {
        grid-row: auto;
    }

    .about__grid {
        grid-column: 1/-1;
    }

    .about__body {
        align-self: center;
    }

    /* ================= */

    .accordion-list__control {
        font-size: 35px;
        padding: 25px 30px;
    }

    .accordion-content {
        gap: 30px;
    }
}

@media (max-width: 900px) {
    .nav {
        position: fixed;
        inset: 0;
        z-index: 10;
        background: var(--general-bg);
        padding: 26vh 15px 30px;
        font-size: 24px;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-50%);
        transition: var(--transition);
    }

    .nav__list {
        flex-direction: column;
        align-items: center;
    }

    .body--opened-menu .nav {
        opacity: 1;
        visibility: visible;
        transform: translateY(0%);
    }

    .burger-icon {
        display: flex;
    }


    /* ========================================= */


    .footer__inner {
        justify-content: center;
        grid-template: none;
        text-align: center;
        gap: 0;
    }

    .footer__col:first-child {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer__col:nth-child(3) {
        margin-bottom: 10px;
    }

    .footer__col:nth-child(2) {
        margin-bottom: 40px;
    }

    .program__img {
        display: none;
    }

    .program__action {
        max-width: none;
        grid-template: repeat(3, auto)/ minmax(280px, 1fr) 1fr;
    }

    /* =============================== */

    .gallery__img {
        display: none;
    }

    .gallery__inner {
        grid-template: none;
    }

    .gallery__info {
        max-width: none;
    }

}

@media (max-width: 800px) {
    .hero__img {
        display: none;
    }

    .hero__img-conrol--mobile {
        display: flex;
        margin-bottom: 30px;
        margin: 0 0 30px;
    }

    .hero__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        max-width: none;
        width: 100%;
    }

    /* =============== */

    .about__inner {
        grid-template: none;
    }

    .about__img {
        max-width: 500px;
        justify-self: center;
    }

    .about__body {
        text-align: center;
    }

    .about__title {
        text-align: center;
    }

    /* =========================== */

    .tab-conrols {
        gap: 10px;
    }

    .tab-conrols__link {
        padding: 6px 20px;
    }

    .accordion-content {
        flex-direction: column;
    }

    .accordion-content__col:first-child {
        max-width: none;
    }

    .accordion-content__text {
        max-width: none;
    }

}

@media (max-width: 600px) {

    .main__about {
        padding: 60px 0 80px;
    }

    .main__program {
        padding: 0 0 80px;
    }

    .title {
        font-size: 12vw;
    }


    /* ============= */


    .header__hero {
        padding-bottom: 80px;
    }


    /* ================== */


    .about__grid {
        grid-template: none;
        gap: 15px;
    }

    .about__grid-item {
        padding: 10px 12px;
    }

    .about__img-conrol {
        bottom: 0;
        left: 0;
        right: 0;
        max-width: none;
        border-radius: 0;
        padding: 10px 15px;
    }

    /* ================= */

    .program__title {
        text-align: center;
    }

    .program__top {
        text-align: center;
        margin-bottom: 20px;
    }

    .program__action {
        grid-template: repeat(3, auto)/ auto auto;
        gap: 15px;
    }

    .program__discount {
        grid-row: auto;
        grid-column: 1/-1;
        justify-self: center;
    }

    .tab-conrols {
        justify-content: center;
    }

    .accordion-list__control {
        padding: 17px 30px;
        font-size: 28px;
    }

    .accordion-list__control-icon {
        width: 26px;
        height: 26px;
    }

    .accordion-list__control-icon svg {
        width: 10px;
    }

    .accordion-list__item {
        margin-bottom: 10px;
    }

    /* ================== */

    .gallery__content {
        flex-direction: column;
    }

    .gallery__inner {
        margin-bottom: 20px;
    }

    .main__program,
    .main__gallery {
        padding-bottom: 80px;
    }

    .gallery__info {
        text-align: center;
    }
}

@media (max-width: 450px) {
    .modal__window {
        padding: 0 15px 45px;
    }

    .modal__img {
        max-width: 50%;
        margin-top: -45px;
    }

    .modal__title {
        font-size: 35px;
    }

    /* ============================= */

    .accordion-list__control {
        padding: 17px 15px;
    }

    .accordion-content {
        padding: 0 15px 30px;
    }

    .accordion-content__item {
        margin-bottom: 10px;
    }

    .program__action {
        display: block;
    }

    .program__price {
        text-align: center;
    }



}